*{
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family:  Arial, Helvetica, sans-serif
}

html{

    
    scroll-behavior:smooth;
}

/* Everthing about the SideBar--------------------------------------------------*/
.sidebar{
    position: fixed;
    width: 15%;
    height: 100%;
    background-color:black;
    padding: 30px 0;
    
    
    
    
}
.sidebar ul li{
    padding: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    
}

.sidebar ul li a{
    color: #bdb8d7;
    display: flex;
    font-size: 18px;
    
    
}
.menu_icon{
    height: 1.2em;
    width: 1.8em;
    margin-right:  5px;
    margin-left: 5px;
}




 .sidebar ul li:hover{
    background-color: #594f8d;
}

.sidebar ul li:hover a{
    color: #fff;
}

.sidebar .social_media{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-flow: row;
}

.sidebar .social_media a{
    display: block;
    background: #594f8d;
    text-align:center;
    font-size: 30px;
    margin: 0 5px ;
    color: #bdb8d7;
}
.sidebar h2{
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
    font-size:1.3vw;
} 

 .profile_picture{
    
    border-radius: 50%;
    max-width: 75%;
   
}
.photo_grid_container{
    display: flex;
    justify-content: center;
}
/*---------------------------------------------------------------------*/
    

.sections{
    height: 100%;
    width: 85%;
    background-position: center;
    background-size: cover;
    position: relative;
    float: right;

}

.hero{
        
        position: fixed;
        left: 15%;      
        
        background-image: url("../images/background.jpg");
}

.home{
    
        
    background-color: transparent;
    
}
 .type_1{
   
        
    background-color: lightblue;
    

}
.type_2{
    
    
background-color: lightskyblue;

}


/* personalized scrollbar*/
::-webkit-scrollbar{
    width: 5px;
    border-radius: .25rem;    }

::-webkit-scrollbar-track{
    background-color: #bdb8d7;

}
::-webkit-scrollbar-thumb{
    background: #4b4276;
    border-radius: .25rem;

}
::-webkit-scrollbar-thumb:hover{
background: #594f8d;}

/* -------------------------------*/


@media (max-width: 55em) {
/* these instructions are hidding the name, the icons's label and profile picture*/
    .sidebar h2, .photo_grid_container{
        visibility: hidden;
        display: none;
    }

    .menu_label{
        visibility: hidden;
    }
   
/* --------------------------------*/

/* with these instructions the social media links are displayed in vertical */
    .sidebar .social_media{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-flow: column;
}
.sidebar .social_media a{
    display: block;
    background: #594f8d;
    text-align:center;
    font-size: 25px;
    margin:  10px ;
    
}
/*----------------------------------*/


/*these instructions are making the side bar more suitable for mobile
settings the icons better */
.sidebar ul li{
    padding: 15px;
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    display: flex;
    flex-flow: column;
    
}
    
.sidebar ul li a{
    color: #bdb8d7;
    display: block;
    font-size:25px;
    text-align:center;  
    
    

}


/*---------------------------------------------------------------------*/
}

/*set up the button to go back to the top*/
.back_to_top {
    position: fixed;
    
    
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #149ddd;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
    
  }
  
  .back_to_top i {
    font-size: 28px;
    color: #fff;
    padding-top: 5 ;
    padding-left:10;
    
  }
  
  .back_to_top:hover {
    background: #2eafec;
    color: #fff;
  }
  
  .back_to_top.active {
    visibility: visible;
    opacity: 1;
  }
